
.container{
    width: 1440px;
    margin: auto;
    background-color: #F1F1F1;
    margin-bottom: 90px;
    margin-top: 10px;
}
.header{
    height: 84px;
    display: flex;
    justify-content: space-between;
}
.bu{
    width: 33px;
    height: 42px;
    margin-left: 99px;
    margin-top: 24px
}
.ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 33px;
    margin-right: 78px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #636060;
}
.sec1{
    background-image: url(../images/Rectangle\ 1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 606px;
    flex-wrap: wrap;
    gap: 700px;
    position: relative;
}
.ragaca{
    color: #FFF;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ragaca2{
    color: #FFF;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 60%;
}
.div1{
    width: 235px;
    height: 213px;
    margin-left: 100px;
    margin-top: 84px;
    display: flex;
    flex-wrap: wrap;
}
.p1{
    color: #636060;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
.p2{color: #010101;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p3{color: #636060;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 37px;
} 
.div2{
    width: 924px;
    margin-left: 83px;
    margin-top: 84px;
    margin-right: 98px;
    display: flex;
    flex-wrap: wrap;
    gap: 56px 33px; 
}
.sec2{
    display: flex;
    justify-content: space-between;
}
.pp{color: #343232;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 23px;
    margin-bottom: 9px;
}
.pp2{color: #636060;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pp3{color: #343232;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 23px;
    margin-bottom: 9px;
}
.pp4{color: #636060;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pp5{color: #343232;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 23px;
    margin-bottom: 9px;
}
.pp6{color: #636060;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pp7{color: #343232;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 23px;
    margin-bottom: 9px;
}
.pp8{color: #636060;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pp9{color: #343232;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 23px;
    margin-bottom: 9px;
}
.pp10{color: #636060;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pp11{color: #343232;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 23px;
    margin-bottom: 9px;
}
.pp12{color: #636060;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.divi1{width: 286px;
}
.divi2{width: 286px;
}
.divi3{width: 286px;
}
.divi4{width: 286px;
}
.divi5{width: 286px;
}
.divi6{width: 286px;
}